# ============================================
# Django
# ============================================
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Configurações locais
.env
*.env
.env.*
.venv 

# ============================================
# VSCode / IDE
# ============================================
.vscode/
.idea/
*.swp
*.swo

# ============================================
# Python
# ============================================
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# ============================================
# Logs
# ============================================
*.log
logs/

# ============================================
# Docker
# ============================================
docker-compose.override.yml
*.pid

# ============================================
# Firebase credentials
# NÃO SUBA ESTES ARQUIVOS!
# ============================================
*.json
firebase-key.json
serviceAccountKey.json

# ============================================
# Render / Deploy
# ============================================
runtime.txt

# =================================
